body {
  color: aliceblue;
  background-color: gray;
  min-height: 100vh;
  margin: 0 auto;
}


h1 {
  text-align: center;
  
}

#container {
  background: rgb(255, 0, 0);
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

.row {
  border: 1px solid black;
  display: flex;
  flex: 1;
  
}

.column {
  flex: 1;
  border: 1px solid black;

}
