body {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#container {
  background: rgb(255, 0, 0);
  width: 960px;
  height: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;

  
}

.row {
  border: 1px solid black;
  display: flex;
  flex: 1;
  
}

.column {
  flex: 1;
  border: 1px solid black;

}

#number {
  padding: 5px;

}

button {
  margin: 20px ;
}